<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="inner">
         <!-- 
                <a class="blog-logo" href="/">
                    <img src="/uploads/nsa.png" alt="Blog Logo" />
                </a>
         -->
            <h1 class="blog-title"><a href='/'>cryptopunks</a></h1>
            <!--            <h2 class="blog-description"> {{ site.description }} -->
                <nav id="site-navigation" class="main-navigation">
                  <div>
                    <ul class="menu_top">
                      <li><a href='/tags/'>tags</a></li>
                      <li><a href='/sitemap/'>sitemap</a></li>
                      <li><a href='/about/'>about</a></li>
                      <li><a href='/donate/'>donate</a></li>
                      <li class="rss"><a href='/rss.xml'>rss</a></li>
                    </ul>
                  </div>
                </nav>
                <!--            </h2>-->
        </div>
    </div>
</header>
